<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Perro</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand fs-3">Busca tu Mascota</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link fs-4" th:href="@{/}">Pagina Principal</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fs-4" th:href="@{/perros/nuevo}">Registrar Perro Perdido</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link btn btn-danger me-3 fs-4" th:href="@{/logout}">Cerrar sesión</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h2 class="text-center mb-4">Editar Perro</h2>

                    <form th:object="${perro}" th:action="@{/perros/actualizar/{id}(id=${perro.id})}" method="post"
                          enctype="multipart/form-data" class="needs-validation" novalidate>

                        <div class="form-group">
                            <label for="nombre">Nombre:</label>
                            <input type="text" id="nombre" name="nombre" th:field="*{nombre}" class="form-control"
                                   required>
                        </div>

                        <div class="form-group">
                            <label for="diaPerdido">Día que se perdió:</label>
                            <input type="date" id="diaPerdido" th:field="*{diaPerdido}" class="form-control" required>
                        </div>

                        <div class="form-group">
                            <label for="ubicacion">Ubicación:</label>
                            <input type="text" id="ubicacion" name="ubicacion" th:field="*{ubicacion}" class="form-control" required>
                        </div>

                        <div class="form-group">
                            <label for="sexo">Sexo:</label>
                            <select id="sexo" name="sexo" th:field="*{sexo}" class="form-control" required>
                                <option value="MACHO">Macho</option>
                                <option value="HEMBRA">Hembra</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="edad">Edad:</label>
                            <input type="number" id="edad" name="edad" th:field="*{edad}" class="form-control" required>
                        </div>

                        <div class="form-group">
                            <label for="tamano">Tamaño:</label>
                            <input type="text" id="tamano" name="tamano" th:field="*{tamano}" class="form-control" required>
                        </div>

                        <div class="form-group mb-3">
                            <label for="raza">Raza:</label>
                            <input type="text" id="raza" name="raza" th:field="*{raza}" class="form-control" required>
                        </div>

                        <div class="form-group">
                            <label for="foto">Foto actual:</label>
                            <img  id="foto" th:src="@{|${rutaImagenes}/${perro.foto}|}" alt="Foto del perro" class="card-img-top" style="height: 200px; object-fit: cover;">

                        </div>

                        <div class="form-group">
                            <label for="nuevaImagen">Nueva Foto:</label>
                            <input type="file" id="nuevaImagen" name="nuevaImagen" class="form-control-file">
                        </div>

                        <button type="submit" class="btn btn-primary btn-block mt-3">Actualizar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>



</body>
</html>